<input type="password" [(ngModel)]="inputValue" placeholder="Enter Your Password" (input)="onPasswordChange()" #passwordInput>

<div class="text-container">
  <div class="password-strength">
    <section [ngClass]="{'red': passwordStrength === 'weak', 'yellow': passwordStrength === 'medium', 'green': passwordStrength === 'strong', 'gray': !inputValue }">
      The password is easy
    </section>
    <section [ngClass]="{'yellow': passwordStrength === 'medium', 'green': passwordStrength === 'strong', 'gray': passwordStrength !== 'medium' && passwordStrength !== 'strong' }">
      The password is medium
    </section>
    <section [ngClass]="{'green': passwordStrength === 'strong', 'gray': passwordStrength !== 'strong'}">
      The password is strong
    </section>
  </div>
</div>



















